@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #001d3d;
  --primary-light: #003566;
  --primary-dark: #000814;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--font-dm-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}
